@use 'btn-more-mini.module';
@use 'btn-more.module';
@use 'course-type-card.module';
@use 'productCard.module';

/* video */
.bg-video-bo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* 影片在背景層 */
}

.video-overlay-bo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080; /* 半透明黑色 */
  z-index: 1;
}

/* 組件 */
.bg-front-photo-bo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/boyu/bg-mahjong.jpg');
  opacity: 0.07; /* 背景圖片透明度 */
  background-size: contain;
  z-index: 1;
}

/* 媒體查詢 */
@media (max-width: 576px) {
  .bg-front-photo-bo::before {
    background-size: cover;
  }
}

.guide-box-bo {
  gap: 3.6rem;
  position: relative;
  z-index: 2;
}

.text-more-bo {
  cursor: pointer;
  transition: 0.3s;
  gap: 1.2rem;
  @media (max-width: 576px) {
    gap: 0.8rem;
  }
  &:hover {
    color: var(--primary);
    border-color: var(--primary-dark);
    transform: translateX(3px);

    & .btn-more-mini,
    .more-mini-icon {
      color: var(--bg-text-color);
      border-color: var(--bg-text-color);
    }
  }
}

.icon-mahjong-bo {
  padding: 0.4rem;
  width: 4.8rem;
  height: 6rem;
  border: 3px solid var(--primary);
  border-radius: 5px;

  @media (max-width: 1400px) {
    width: 4rem;
    height: 5rem;
  }
}

/* hero */
.hero-section-bo {
  height: 100vh;
  position: relative;
  z-index: 2; /* 內容在影片層之上 */
  color: var(--bg-text-color);
  @media (max-width: 576px) {
    padding: 0 1.2rem;
  }
}

/* intro */
.intro-section-bo {
  padding: 6rem 0;
  height: 110vh;
  position: relative;
  z-index: 2; /* 內容在影片層之上 */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(51, 51, 51, 0.8)
  );
  gap: 6vh;
  color: var(--bg-text-color);
  overflow: hidden; /* 確保內容不會超出邊界 */
  @media (max-width: 576px) {
    padding: 0 1.2rem;
  }
}

.intro-text-body-bo {
  gap: 3rem;
  @media (max-width: 992px) {
    gap: 2rem;
  }
}

/* room */
.room-section-bo {
  color: var(--bg-text-color);
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2; /* 內容在影片層之上 */
  background-color: var(--background-dark); /* 底層背景顏色 */
  display: flex;
}

.room-image-box-bo {
  width: 26vw; /* 限制最大寬度為26vw */
  pointer-events: none; /* 禁止圖片點擊 */
  z-index: 2;
  overflow: hidden; /* 隱藏超出容器的內容 */
  position: relative; /* 確保圖片在容器內滾動 */
  height: 90rem; /* 設定圖片容器的高度 */

  @media (max-width: 1400px) {
    height: 75rem; /* 設定圖片容器的高度 */
  }

  @media (max-width: 1200px) {
    height: 62rem; /* 設定圖片容器的高度 */
  }

  @media (max-width: 992px) {
    height: 51rem; /* 設定圖片容器的高度 */
    flex: 1;
  }

  @media (max-width: 768px) {
    height: auto; /* 設定圖片容器的高度 */
    width: 100vw;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
    z-index: 3; /* 確保在圖片上方 */
    pointer-events: none; /* 禁止點擊 */
  }
}

.room-image-box-down-bo {
  @media (max-width: 768px) {
    display: none;
  }
}

.room-image-bo {
  width: 100%; /* 確保圖片容器填滿父元素 */
  margin: 0 auto; /* 將容器居中 */
  aspect-ratio: 16 / 9;
}

.image-up-bo {
  animation: scrollUp 8s linear infinite; /* 設定滾動動畫 */
  @media (max-width: 768px) {
    animation: scrollLeft 8s linear infinite; /* 設定滾動動畫 */
  }
}

.image-down-bo {
  animation: scrollDown 8s linear infinite;
  /* 設定滾動動畫 */
  @media (max-width: 768px) {
    display: none;
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%); /* 開始位置 */
  }
  100% {
    transform: translateY(0); /* 中間位置 */
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0); /* 開始位置 */
  }
  100% {
    transform: translateY(100%); /* 中間位置 */
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0); /* 開始位置 */
  }
  100% {
    transform: translateX(100%); /* 中間位置 */
  }
}

.room-text-title-bo {
  gap: 3rem;
  @media (max-width: 576px) {
    gap: 0.6rem;
  }
}

.room-title-bo {
  text-wrap: nowrap;
}

.room-text-box-bo {
  margin: 6rem 0;

  gap: 6rem;
  z-index: 3; /* 設定文字區塊的層級 */
  position: relative; /* 確保層級設定生效 */
  pointer-events: auto; /* 允許文字區塊的點擊事件 */
  user-select: text; /* 允許選中文字 */
  @media (max-width: 1200px) {
    gap: 4.8rem;
  }
  @media (max-width: 576px) {
    margin: 3.6rem 0;
    padding: 0 1.2rem;
  }
}

/* product */
.product-section-bo {
  z-index: 2; /* 內容在影片層之上 */
  padding: 6.4rem 6.4rem 8rem 6.4rem;
  color: var(--bg-text-color);
  gap: 6.4rem;
  overflow: hidden;
  position: relative;
  background-color: var(--background); /* 底層背景顏色 */

  @media (max-width: 768px) {
    padding: 6.4rem 2.4rem 8rem 2.4rem;
    gap: 3.6rem;
  }
  @media (max-width: 576px) {
    padding: 3.6rem 2.4rem 4.8rem 2.4rem;
  }
}

.product-title-box-bo {
  gap: 3rem;
  @media (max-width: 768px) {
    gap: 1.6rem;
  }
}
.product-text-type-bo {
  text-wrap: nowrap;
}

.mahjong-card-btn-bo,
.boardGame-card-btn-bo {
  position: absolute;
  bottom: 30%;
  z-index: 4;
}

.mahjong-card-btn-bo {
  gap: 3rem;
  left: 26rem;
  @media (max-width: 768px) {
    left: 21rem;
  }
  @media (max-width: 576px) {
    width: 30rem;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
  }
}

.boardGame-card-btn-bo {
  gap: 3rem;
  right: 26rem;
  @media (max-width: 768px) {
    right: 21rem;
  }
  @media (max-width: 576px) {
    width: 30rem;
    justify-content: space-between;
    right: 50%;
    transform: translateX(50%);
  }
}

.btn-move-card-left-bo,
.btn-move-card-right-bo {
  font-size: 3rem;
  color: var(--primary);
  padding: 2.4rem;
  border-radius: 50%;
  border: 3px solid var(--primary);
  cursor: pointer;
  transition: 0.3s;

  @media (max-width: 576px) {
    font-size: 2.4rem;
  }

  &:hover {
    color: var(--primary-dark);
    border-color: var(--primary-dark);
    background-color: rgba(250, 247, 240, 0.5);
  }
}

.btn-move-card-right-bo {
  &:hover {
    transform: translateX(3px);
  }
  @media (max-width: 576px) {
    left: 0;
  }
}
.btn-move-card-left-bo {
  &:hover {
    transform: translateX(-3px);
  }
  @media (max-width: 576px) {
    right: 0;
  }
}

/* course */
.course-section-bo {
  z-index: 2; /* 內容在影片層之上 */
  padding: 6.4rem 6.4rem 8rem 6.4rem;
  color: var(--bg-text-color);
  gap: 6.4rem;

  overflow: hidden;
  position: relative;
  background-color: var(--background-dark); /* 底層背景顏色 */

  @media (max-width: 768px) {
    padding: 6.4rem 3.6rem 8rem 3.6rem;
    gap: 4.8rem;
  }
  @media (max-width: 576px) {
    padding: 4.8rem 2.4rem 6rem 2.4rem;
    gap: 3.6rem;
  }
}

.course-title-box-bo {
  z-index: 4;
  gap: 3rem;
  text-wrap: nowrap;
  @media (max-width: 576px) {
    gap: 1rem;
  }
  @media (max-width: 375px) {
    gap: 3rem;
  }
}

.course-title-bo {
  @media (max-width: 375px) {
    flex-direction: column;
  }
}

.course-box-bo {
  gap: 14em;
  position: relative;
  @media (max-width: 768px) {
    gap: 6.4rem;
  }
  @media (max-width: 576px) {
    gap: 4.8rem;
  }
}

.btn-course-move-left-bo,
.btn-course-move-right-bo {
  color: var(--bg-text-color);
  border: 3px solid var(--bg-text-color);
  position: absolute;
  top: 50%;
  z-index: 4;

  font-size: 3rem;
  padding: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: var(--primary-dark);
    border-color: var(--primary-dark);
    background-color: rgba(250, 247, 240, 0.5);
  }
}

.btn-course-move-left-bo {
  left: 0;
}

.btn-course-move-right-bo {
  right: 0;
}
