.user-info-box-bo {
  color: var(--primary);
  padding: 2.4rem;
  height: auto;
}

.info-form-box-bo {
  padding: 4.8rem 3.6rem;
  background-color: var(--form-bg);
  border: 2px solid var(--primary);
  gap: 3rem;

  @media (max-width: 992px) {
    padding: 4.8rem 2.4rem;
  }

  @media (max-width: 768px) {
    gap: 2.2rem;
  }
}

/* 表單組件 */
.info-col-bo {
  gap: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  align-items: center;
  @media (max-width: 576px) {
    align-items: start;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
  }
}

.info-name-bo {
  width: 6rem;
  white-space: nowrap;
  text-align: center;

  @media (max-width: 576px) {
    width: 4rem;
  }
}

.info-text-bo {
  height: 6rem;
  color: var(--primary);
  background-color: var(--white);

  padding: 1rem 1rem;
  border-radius: 5px;
  width: 100%;
  outline: 3px solid var(--primary);
  border: none;
  @media (max-width: 576px) {
    height: 5rem;
  }
}

.info-text-bo:focus,
.info-text-bo:hover {
  outline: 3px solid var(--primary-dark);
}

.info-text-bo::-webkit-input-placeholder {
  color: var(--primary);
}

/* 一般資訊 */

.default-information-box-bo {
  padding-right: 2.4rem;
  gap: 3rem;

  @media (max-width: 992px) {
    padding-right: 0;
    gap: 1.6rem;
  }
}

.default-information-form-bo {
  width: 100%;
}

.default-img-box-bo {
  padding-left: 2.4rem;
  gap: 4rem;

  @media (max-width: 768px) {
    padding-left: 0;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
  }
}

.user-img-box-bo {
  position: relative;
}

.user-img-bo {
  width: 14rem;
  border-radius: 50%;
}

.btn-edit-img {
  cursor: pointer;
  position: absolute;
  font-size: 2.4rem;
  bottom: -0.8rem;
  right: -0.8rem;

  &:hover {
    color: var(--primary-dark);
  }
}

.create-date-box-bo {
  padding: 0.8rem 2.4rem;
  border-radius: 5px;
  flex-direction: row;

  background: var(--primary);
  color: var(--bg-text-color);

  @media (max-width: 1160px) {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    flex-direction: row;
  }
}

/* 詳細資訊 */

.detail-information-box-bo {
  padding-right: 2.4rem;
  gap: 3rem;

  @media (max-width: 992px) {
    padding-right: 0;
    gap: 1.6rem;
  }
}

.detail-information-form-bo {
  width: 100%;
}

.detail-card-box-bo {
  gap: 3rem;
  height: 100%;
  padding-left: 2.4rem;

  @media (max-width: 768px) {
    gap: 1.6rem;
    padding-left: 0rem;
    margin-bottom: 3.2rem;
  }
}

.card-col-bo {
  gap: 1.5rem;
  flex-direction: column;

  @media (max-width: 768px) {
    flex-direction: row;
  }
  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.card-body-bo {
  gap: 2rem;
  @media (max-width: 1200px) {
    gap: 0.6rem;
  }

  @media (max-width: 768px) {
    gap: 1rem;
  }
}

.card-text-box-bo {
  @media (max-width: 768px) {
    width: 14.2rem;
  }
}

.card-date-box-bo {
  @media (max-width: 768px) {
    width: 4.3rem;
  }
}

.info-card-bo {
  height: 1.6rem;
  color: var(--primary);
  background-color: var(--white);
  margin: 3px 0;
  border-radius: 1px;
  padding: 1rem 0;
  width: 100%;
  outline: 2px solid var(--primary);
  border: none;
}

.info-card-bo:focus,
.info-card-bo:hover {
  outline: 2px solid var(--primary-dark);
}

.info-card-bo::-webkit-input-placeholder {
  color: var(--primary);
}

.input-card-name-bo {
  width: 7rem;
}

.input-card-saveCode-bo {
  width: 3.6rem;
}

.input-card-date-bo {
  width: 4.6rem;
  @media (max-width: 768px) {
    width: 4.3rem;
  }
}
.input-card-number-bo {
  width: 100%;
}

.icon-card-bo {
  font-size: 3.2rem;
}

.icon-trashcan-bo {
  font-size: 3.2rem;
  color: var(--error-color);
  cursor: pointer;
}

.icon-master-bo,
.icon-visa-bo {
  font-size: 2.4rem;
  color: var(--primary-dark);
}

.card-date-bo {
  font-size: 1.4rem;
}

.btn-edit-info-bo {
  cursor: pointer;
  padding: 0.4rem 2.4rem;
  border-radius: 5px;
  background: var(--primary);
  color: var(--bg-text-color);

  @media (max-width: 576px) {
    padding: 0.4rem 1.6rem;
  }

  &:hover {
    background: var(--primary-dark);
    color: var(--bg-text-color);
  }
}

.move-up-bo {
  @media (max-width: 768px) {
    order: -1; /* 確保這些元素會移動到最上面 */
  }
}

.card-text-box-bo {
  width: 16rem;

  @media (max-width: 768px) {
    width: 14.2rem;
  }
}

.card-date-box-bo {
  width: 5rem;

  @media (max-width: 768px) {
    width: 4.3rem;
  }
}
