.imgArea
  display: grid
  grid-template-columns: 2fr 1fr 1fr
  gap: 4px
  img
    border-radius: 10px
  .bgImg
    img
      width: 100%
      // max-height: 30em
      object-fit: contain
  .smImg
    margin-bottom: 4px
    img
      width: 100%
      object-fit: contain
