.roomNav {
  position: sticky;
  // top: 84px;
  background-color: white;
}
#party,
#roomInfo,
#photo,
#toKnow {
  scroll-margin-top: 65px; /* 根據你的導覽列高度調整這個值 */
}
.nav-active {
  color: #007bff; /* 例如藍色文字 */
  font-weight: bold;
  border-bottom: 2px solid #007bff; /* 下劃線顯示當前頁籤 */
}
