.checkCaht {
  display: none;
}
.checkChatLabel-bl {
  position: fixed;
  bottom: 50px;
  left: 150px;
  color: var(--primary-dark);
  z-index: 9999999;
}

.chatArea-bl {
  width: 0px;
  height: 0px;
  padding: 1rem;
  overflow: hidden;
  border: 2px solid var(--primary);
  border-radius: 5px;
  background: #ffffddec;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 50px;
  left: 150px;
  z-index: 9999999;
  transition: width 0.5s, height 0.5s, opacity 0.5s, visibility 0s 5s;
  opacity: 0;
  visibility: hidden;
  .xmark {
    color: var(--primary-dark);
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .chatBox-bl {
    max-height: 85%;
    overflow: auto;
    .client-bl {
      background: var(--bg-text-hover-color);
      border-radius: 25px;
    }
    .admin-bl {
      background: var(--primary-light);
      border-radius: 25px;
    }
    .time {
      color: var(--text-hover-color);
      font-size: 1.2rem;
    }
  }
  .chatInput-bl {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 5px;
    outline: none;
    input {
      font-size: 1.6rem;
    }

    button {
      width: 50px;
      background: var(--primary);
      color: var(--white);
      border: none;
      cursor: pointer;
      &:hover {
        background: var(--primary-dark);
      }
    }
  }
}
.checkCaht:checked ~ .chatArea-bl {
  width: 300px;
  height: 450px;
  visibility: visible;
  transition: width 0.5s, height 0.5s, opacity 0.5s, visibility 0s;
  opacity: 1;
}
